<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>JSF Spring Integration Example</title>
</h:head>
<h:body>
	<h3>Upload Employee File</h3>
	<h:form id="form" enctype="multipart/form-data">
		<h:inputFile id="file" value="#{fileUpload.file}" validator="#{fileUpload.validateFile}"/>
		<br/>
		<h:commandButton value="Upload" action="#{fileUpload.upload}" >
			<!-- <f:ajax execute="file" render="@all"/> -->
		</h:commandButton>
		<br/>
		<br/>
		<br/>
		<h:inputTextarea value="#{fileUpload.fileContent}" row = "10" col = "30" readonly="true"/>
	</h:form>
	<h:dataTable value="#{fileUpload.empList}" var="employee">
			<h:column>
				<f:facet name="header">First Name</f:facet>
                    #{employee.firstName}
                </h:column>
                <h:column>
				<f:facet name="header">Last Name</f:facet>
                    #{employee.lastName}
                </h:column>
                <h:column>
				<f:facet name="header">Date of Birth</f:facet>
                    #{employee.dateOfBirth}
                </h:column>
                <h:column>
				<f:facet name="header">Position</f:facet>
                    #{employee.profession}
                </h:column>
                <h:column>
				<f:facet name="header">Salary</f:facet>
                    #{employee.salary}
                </h:column>
	</h:dataTable>
</h:body>
</html>