<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">
 
<h:head>
<title>JSF Spring  Integration Example</title>
</h:head>
<h:body>
        <h3>Item Master</h3>
    <h:form>
         <h:outputLabel> Item Code</h:outputLabel>
        <h:inputText value="#{itemMasterBean.icode}" required="true"/>
         <h:outputLabel> Item Name</h:outputLabel>
        <h:inputText value="#{itemMasterBean.item_name}"/>
        <h:outputLabel>MRP</h:outputLabel>
        <h:inputText value="#{itemMasterBean.mrp}"/>
        <h:outputLabel>Stock</h:outputLabel>
        <h:inputText value="#{itemMasterBean.stock}"/>
 		<br/>
        <h:commandButton value="Add" action="#{itemMasterBean.addItem}"/>
    </h:form>
</h:body>
</html>